{% extends "layout.html" %}
{% block content %}
<section>
    <!-- empty div -->
    <div id="logo" class="row">
        <div class="col-md-12" align="center">
            <a href="/"><img  class="img-responsive" src="../static/img/portfolio/logo-title.png" alt=""></a>
        </div>
    </div>
    <div class="row" style="margin-top: 10%">
        <div class="col-md-12" align="center">
            <a href="https://github.com/cedricbonhomme/JackSays" target="_blank"><img  class="img-responsive" src="../static/img/credits.png" title="Source code"></a>
        </div>
    </div>
    <div class="row"  align="center" style="margin-top: 10%">
        <div class="col-md-12" align="center" >
            <img class="img-responsive" src="../static/img/portfolio/btn-back-to-menu.png" alt="" onclick="backToMenu()" >
        </div>
    </div>
</section>
</div>
<script>
    function backToMenu(){
        window.location.href = "/";
    }
</script>
{% endblock %}