<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>

    <!-- JQuery cookies -->
    <script src="../static/js/jquery.cookie.js"></script>


</head>
<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Start</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div id="female">
            <div class="row">
                <div class="col-md-4 col-xs-2" style="text-align: right">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </div>
                <div class="col-md-4 col-xs-8" >
                    <img class="img-responsive" src="../static/img/avatar/custom/ft1.png" alt="" style="margin-bottom: 0">
                </div>
                <div class="col-md-4 col-xs-2" style="text-align: left">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-2" style="text-align: right">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </div>
                <div class="col-md-4 col-xs-8" >
                    <img class="img-responsive" src="../static/img/avatar/custom/fm1.png" alt="" style="margin-bottom: 0">
                </div>
                <div class="col-md-4 col-xs-2" style="text-align: left">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-2" style="text-align: right">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </div>
                <div class="col-md-4 col-xs-8" >
                    <img class="img-responsive" src="../static/img/avatar/custom/fb1.png" alt="" style="margin-bottom: 0">
                </div>
                <div class="col-md-4 col-xs-2" style="text-align: left">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
        </div>


        <div class="row" id="male">
            <div class="col-md-12">
                <img class="img-responsive" src="../static/img/avatar/custom/malexl.png" alt="">
            </div>
        </div>

        <div class="row" id="robot">
            <div class="col-md-12">
                <img class="img-responsive" src="../static/img/avatar/custom/robotxl.png" alt="">
            </div>
        </div>
    </div>
</header>


<script>
    $( document ).ready(function() {
        $("#female").hide();
        $("#male").hide();
        $("#robot").hide();

        var toShow = "#" + $.cookie('choice');
        $(toShow).show();

    });
</script>


</body>

</html>
