<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jack Says</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- JQuery cookies -->
    <script src="../static/js/jquery.cookie.js"></script>
    <!-- swipe -->
    <script src="../static/js/jquery.touchSwipe.js"></script>
    <style>
            #page-top section {
                padding: 40px 0;
            }
    </style>
</head>
<body id="page-top" class="index">

<section id="whatNext">
    <div class="container">
        <form action="login" method="POST" id="formLogin">
            <div id="logo" class="row">
                <div class="col-md-12" align="center">
                    <a href="/"><img  class="img-responsive" src="../static/img/portfolio/logo-title.png" alt=""></a>
                </div>

            </div>

            <div class="row" style="margin-top: 3em">
                <div class="col-md-3 col-sm-3 col-xs-2"></div>
                <div class="col-md-3 col-sm-3 col-xs-4" align="right" style="margin-left: 10px">
                    <img class="img-responsive" src="../static/img/portfolio/btn-gender-woman.png" alt="" onclick="selectAvatar(1)">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4" align="left" style="margin-left: -20px">
                    <img class="img-responsive" src="../static/img/portfolio/btn-gender-man.png" alt="" onclick="selectAvatar(2)">
                </div>
            </div>

            <!-- menu -->
            <div class="row" style="margin-top: 5em"  align="center">
                <div class="col-md-12" align="center" >
                    <img class="img-responsive" src="../static/img/portfolio/btn-back-to-menu.png" alt="" onclick="backToMenu()">
                </div>
                <div class="col-md-12" align="center" style="margin-top: 1%" >
                    <img class="img-responsive" src="../static/img/portfolio/btn-credits.png" alt="" onclick="toCredit()">
                </div>
            </div>

        </form>
    </div>
</section>

<script>
    function selectAvatar(id) {
        if (id==1){
            $.cookie("choice", "female");
        }else{
            $.cookie("choice", "male");
        }
        window.location.href = "customize";
    }
    function backToMenu(){
        window.location.href = "/";
    }

    function toCredit(){
        window.location.href = "/credit";
    }
</script>
</body>
</html>
