{% extends "layout.html" %}
{% block content %}
<section id="whatNext">
    <div class="container">
        <div id="logo" class="row">
            <div class="col-md-12" align="center">
                <a href="/"><img  class="img-responsive" src="../static/img/portfolio/logo-title.png" alt=""></a>
            </div>
        </div>
        <form method="POST" id="formLogin">
            <div class="row" style="margin-top: 3em">
                <div class="col-md-3 col-sm-3 col-xs-2"></div>
                <div class="col-md-3 col-sm-3 col-xs-4" align="right" style="margin-left: 10px">
                    <img class="img-responsive" src="../static/img/portfolio/btn-gender-woman.png" alt="" onclick="selectAvatar(1)">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4" align="left" style="margin-left: -20px">
                    <img class="img-responsive" src="../static/img/portfolio/btn-gender-man.png" alt="" onclick="selectAvatar(2)">
                </div>
            </div>
            <!-- menu -->
            <div class="row" style="margin-top: 5em"  align="center">
                <div class="col-md-12" align="center" >
                    <img class="img-responsive" src="../static/img/portfolio/btn-back-to-menu.png" alt="" onclick="backToMenu()">
                </div>
                <div class="col-md-12" align="center" style="margin-top: 1%" >
                    <img class="img-responsive" src="../static/img/portfolio/btn-credits.png" alt="" onclick="toCredit()">
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    function selectAvatar(id) {
        if (id==1){
            $.cookie("choice", "female");
        }else{
            $.cookie("choice", "male");
        }
        window.location.href = "customize";
    }
    function backToMenu(){
        window.location.href = "/";
    }

    function toCredit(){
        window.location.href = "/credit";
    }
</script>
{% endblock %}