{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form  method="POST" id="formLogin">
            {{ form.hidden_tag() }}
            <div id="logo" class="row">
                <div class="col-md-12" align="center">
                    <a href="/"><img  class="img-responsive" src="../static/img/portfolio/logo-title.png" alt=""></a>
                </div>
            </div>

            <div class="row">
                <!-- known person -->
                <div class="col-md-12">
                    <div id="knownPerson">
                        <div class="row" align="center">
                            <div class="col-md-12 col-sm-12 col-xs-12" id="divMaleTop" >
                                <a href="gender">
                                    <img id="divKnownTop" class="img-responsive" src="" title="Change your avatar" style="margin-bottom: 0" width="40%" height="40%">
                                </a>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <div class="col-md-12 col-sm-12 col-xs-12" id="divMaleMiddle" style="vertical-align: bottom">
                                <a href="gender">
                                    <img id="divKnownMiddle" class="img-responsive" src="" title="Change your avatar" style="margin-bottom: 0" width="40%" height="40%">
                                 </a>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <div class="col-md-12 col-sm-12 col-xs-12" id="divMaleBottom">
                                <a href="gender">
                                    <img id="divKnownBottom" class="img-responsive" src="" title="Change your avatar" style="margin-bottom: 0" width="40%" height="40%">
                                </a>
                            </div>
                            <b><div id="playerName"></div></b>
                        </div>
                    </div>

                    <!-- anonymous -->
                    <div id="anonymousAvatar">
                        <a href="/gender"><img class="img-responsive" src="../static/img/profile.png" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- menu -->
            <div class="row" style="margin-top: 5%"  align="center">
                <div class="col-md-12" align="center" >
                    <a href="/customize"><img class="img-responsive" src="../static/img/portfolio/btn-tap-to-play.png" alt=""></a>
                </div>
                <div class="col-md-12" align="center" >
                    <img class="img-responsive" src="../static/img/portfolio/btn-how-to-play.png" alt="">
                </div>
                <div class="col-md-12" align="center" style="margin-top: 1%" >
                    <a href="/credit"><img class="img-responsive" src="../static/img/portfolio/btn-credits.png" alt=""></a>
                </div>
            </div>

        </form>
    </div>
<script>
    $( document ).ready(function() {
        var nic = $.cookie('nic');
        var type = $.cookie('choice');
        var topImage = $.cookie('topImage');
        var middleImage = $.cookie('middleImage');
        var buttonImage = $.cookie('buttonImage');

        $("#anonymousAvatar").hide();
        $("#knownPerson").hide();
        $("#bestPerson").hide();
        $("#divfemale").hide();
        $("#divmale").hide();

        if (nic){
            $("#playerName").text(nic);
            $("#playerName").show();
            $("#knownPerson").show();
            //load images
            $("#divKnownTop").attr('src', topImage);
            $("#divKnownMiddle").attr('src', middleImage);
            $("#divKnownBottom").attr('src', buttonImage);
        }else {
            $("#anonymousAvatar").show();
        }

        $("#forgetMe").click(function(){
            $.removeCookie('nic');
            window.location.replace("/");
        });
    });
</script>
{% endblock %}