<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jack Says</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('.static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('.static', filename='js/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
    <!-- JQuery cookies -->
    <script src="{{ url_for('.static', filename='js/jquery.cookie.js') }}"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ url_for('.static', filename='js/classie.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/cbpAnimatedHeader.js') }}"></script>
    <!-- swipe -->
    <script src="{{ url_for('.static', filename='js/jquery.touchSwipe.js') }}"></script>
    <!-- ion sound -->
    <script src="{{ url_for('.static', filename='js/ion.sound.min.js') }}"></script>
    <!-- swipe -->

    <style>
        #page-top section {
            padding: 40px 0;
        }
        .imgConstom {
            width: 28%;
            height: 28%;
        }
        @media only screen and (max-width:800px) {
            .imgConstom {
                width: 50%;
                height: 50%;
            }
        }
    </style>
</head>
{% endblock %}
<body id="page-top" class="index">

<section id="whatNext">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
        {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</section>
</body>
</html>