{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>Log In</h2>
        <form action="{{ url_for('login') }}" method=post>
            {{ form.hidden_tag() }}

            <div class="form-group">
            {{ form.login(class_="form-control", placeholder='Your login') }}
            </div>
            {% for message in form.login.errors %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}

            {{ form.submit(class_="btn btn-default") }}
        </form>
    </div>
</div><!-- /.container -->
{% endblock %}