<!DOCTYPE HTML>
<html>
<head>
    <title>Simone says</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
 function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}

function eraseCookie(name) {
	createCookie(name,"",-1);
}

        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            
            socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
                socket.emit('get game id', {});
                console.log("invoking start");
            });
            socket.on('game id', function(msg) {
                console.log(msg);
                //socket.emit('my event', {data: 'I\'m connected!'});
                var elements = $('div#games').children;

                for (var i = 0; i < elements.length; i++) {
                    elements[i].hide();
                }
                $('div#'+msg.id).show();
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
	    socket.on('err', function(msg) {
                window.alert(msg.data);
            });

	 $('form#game1').submit(function(event) {
                socket.emit('game', {data: "game1"});
                return false;
            });

		
            socket.on('user list', function(msg) {
                $('#users').text(msg.data);
            });
})
            
    </script>
</head>
<body>
    <div id="games">
	<div id="game1">
		<form id="game1" method="POST" action='#'>
        	<input type="submit" value="Push me!">	
	</div>
    <div id="wait">
        
    </div>

    </div>
 	
    </form>
    <div id="users">
    </div>
<div id="log">
    </div>
</body>
</html>
